
<EditForm Model="@hamster" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group container-fluid col-sm-5 display-flex">

        <label for="@hamster.Name">Name</label>
        <ValidationMessage For="@(() => hamster.Name)" />
        <input @bind-value="@hamster.Name" type="text" class="form-control">

        <label for="@hamster.Age">Age</label>
        <ValidationMessage For="@(() => hamster.Age)" />
        <select @bind="@hamster.Age" class="form-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="@hamster.FavFood">Favourite Food</label>
        <ValidationMessage For="@(() => hamster.FavFood)" />
        <input @bind-value="@hamster.FavFood" type="text" class="form-control">

        <label for="@hamster.Loves">Loves</label>
        <ValidationMessage For="@(() => hamster.Loves)" />
        <input @bind-value="@hamster.Loves" type="text" class="form-control">

        @if (IsCreateMode)
        {
            <label for="@hamster.ImgName">Choose Image</label>
            <div class="input-group mb-3">
                <select @onchange="ShowImg" class="form-control">
                    @for (var i = 1; i <= 40; i++) //hård-kodat för dem 40 statiska bilder vi har
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>

            <div>
                <img class="hamster-bild" src="@CompleteSrc" />
            </div>
        }

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (IsSuccess)
{
    <h3 class="text-success p-2">@FormSubmitMessage</h3>
}
else
{
    <h3 class="text-danger p-2">@FormSubmitMessage</h3>
}

