@using Entities.Models
@using HamsterWars2Blazor.Pages


@*<a class="col btn col-sm-4" href="/profile/@Hamster.Id.ToString()/@url">*@
<div @onclick="GoToProfile" class=" card d-flex card-goodies card-hover btn col col-sm-4" 
style="background-color:yellowgreen">
    <img class="card-img-top mt-2 hamster-bild-small " 
    src="@hamster.ImgName" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@hamster.Name</h5>
        <p class="card-text">
            Wins: @hamster.Wins
            <br />
            Defeats: @hamster.Losses
            <br />
            Games: @hamster.Games
            @if (IsProfile)
            {
                <span>
                    <br />
                    Age: @hamster.Age
                    <br />
                    Favourite Food: @hamster.FavFood
                    <br />
                    Loves: @hamster.Loves
                </span>
            }
        </p>
    </div>
</div>



@code {
    [Parameter]
    public Hamster hamster { get; set; }
    [Parameter]
    public bool IsProfile { get; set; } = false;
    [Inject]
    public NavigationManager navigation{ get; set; }

    public void GoToProfile()
    {
        navigation.NavigateTo($"/profile/{hamster.Id}");
        
    }
}
