@using Entities.Models

<div class="row justify-content-center text-center">
    <div class="card col col-sm-6 d-flex card-goodies" style="background-color:teal">
        <div class="card-header">
            <h4>Match Won by: <strong>@Hamster1.Name !</strong></h4>
        </div>
        <div class="card-body">
            <p>
                <strong>@Hamster1.Name</strong> has a winning procent of <strong>@Hamster1Procent.ToString("n2") % </strong>
            </p>
            <p>
                <strong>@Hamster2.Name</strong> has a winning procent of <strong>@Hamster2Procent.ToString("n2") % </strong>
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center">
    <HamsterComponent hamster="@Hamster1" IsWinner="win"></HamsterComponent>
    <HamsterComponent hamster="@Hamster2" IsWinner="loss"></HamsterComponent>
</div>


@code {
    [Parameter]
    public Hamster Hamster1 { get; set; }
    [Parameter]
    public Hamster Hamster2 { get; set; }
    [Parameter]
    public double Hamster1Procent { get; set; }
    [Parameter]
    public double Hamster2Procent { get; set; }

}
