
@using Entities.Models
@using HamsterWars2Blazor.Service

@if (Matches is null || hamsters is null)
{
    <p>Loading...</p>
}
else
{
    
<div class="container card card-goodies" style="background-color:darkcyan">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Matches)
           {
               
               <tr>
                   <td>
                       @match.Id
                   </td>
                   <td >
                       @hamsters.Where(x=>x.Id == @match.WinnerId).First().Name
                   </td>
                   <td>
                       @hamsters.Where(x=>x.Id == @match.LoserId).First().Name
                   </td>
                   <td>
                       @match.TimeStamp
                   </td>
                   <td>
                       <a href="/match/@match.Id" class="btn btn-primary">Edit</a>
                   </td>
               </tr>
                 
           }
        </tbody>
    </table>
     </div>
}
@code {
    [Parameter]
    public List<Match> Matches { get; set; }
    private List<Hamster> hamsters { get; set; }
    [Inject]
    public IHamsterHttpService hamsterService { get; set; }

    protected override async void OnInitialized()
    {
        
        hamsters = await hamsterService.GetAllHamsters();
        StateHasChanged();
    }
   
}
