@page "/add"

<PageTitle>Add Hamster</PageTitle>



<div class="card card-goodies justify-content-center text-center" style="width: 18rem; background-color:forestgreen">
    <h3>Add Hamster</h3>

    <EditForm Model="Hamster" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator  />
        @*<ValidationSummary/>*@

        <div class="form-group">
            <label for="@Hamster.Name">Name</label>
            <ValidationMessage For="@(() => Hamster.Name)" />
            <input @bind-value="@Hamster.Name" type="text" class="form-control">

            <label for="@Hamster.Age">Age</label>
            <ValidationMessage For="@(() => Hamster.Age)" />
            <select @bind="@Hamster.Age" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                @*Dem Blir typ aldrig äldre än 5 ändå. RIP*@
            </select>
             
            <label for="@Hamster.FavFood">Favourite Food</label>
            <ValidationMessage For="@(() => Hamster.FavFood)" />
            <input @bind-value="@Hamster.FavFood" type="text" class="form-control">

            <label for="@Hamster.Loves">Loves</label>
            <ValidationMessage For="@(() => Hamster.Loves)" />
            <input @bind-value="@Hamster.Loves" type="text" class="form-control">

            <label for="@Hamster.ImgName">Choose Image</label>
            <div class="input-group mb-3">
                <select @onchange="ShowImg" class="form-control">
                    @for (var i = 1; i <= 40; i++) //hård-kodat för dem 40 statiska bilder vi har
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <img class="hamster-bild" src="@CompleteSrc" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
    @if (IsSuccess)
    {

        <h3 class="text-success p-2">@FormSubmitMessage</h3>
    }
    else
    {
        <h3 class="text-danger p-2">@FormSubmitMessage</h3>
    }
</div>

